MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=''
MYSQL_DATABASE=rasha
JWT_SECRET=93d33a36f9a1bd4ef050e333d385edc0
DATABASE_URL="mysql://root@localhost:3306/moroccobyrasha"

# SMTP Configuration
SMTP_HOST=your-smtp-host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM=noreply@yourapp.com

# App URL for email links
NEXT_PUBLIC_APP_URL=http://192.168.100.203:3000

# This was inserted by `prisma init`:
[object Promise]
